<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sieena.Parking.API.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=b26576c2-587f-42e2-84fa-9fe50000baae.sqlserver.sequelizer.com;Persist Security Info=True;User ID=qqnfafsndywwohmm;Password=UfA723bXeqrcwbX3yAGxdGvNFmbK6HwmeTmmkrHTMQiR4Pifh8CgSfzmRVyNZx2D"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>