/**
 * master.scss
 * Defines the main layout styles to be used throught the app.
 *
 * @author The JSONS
 * @copyright 2012 
 */
/* @group Site colors */
/* @endgroup */
/* @group Layout */
html, body {
  background: #f0f1f2; }

#main {
  margin-top: 50px; }

footer {
  border-top: 0px;
  padding-top: 5px;
  margin: 0px auto;
  text-align: center;
  color: #777; }
  footer ul.list-inline {
    margin: 0px auto;
    list-style: none; }
    footer ul.list-inline li {
      display: inline-block;
      margin-right: 5px;
      margin-right: 5px;
      font-size: 11px; }

.layout-width {
  width: 960px;
  margin: 0px auto; }

.container-whole {
  background: white;
  border: 1px solid #D9D9D9;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
  border-radius: 3px;
  min-height: 200px; }

/* @endgroup */
