<div class="span3">&nbsp;</div>

<form action="/auth/login" method="post" enctype="application/x-www-form-urlencoded" class="span4 form-vertical form-login">
    <h4>Login to MyPlace</h4>
    <div class="fields">
        <div class="row-fluid">
            <label class="span3">Email</label>
            <div class="span9 input-append">
                <input type="text" class="span6" />
                <span class="add-on">@sieena.com</span>
            </div>
        </div>
        <div class="row-fluid">
            <label class="span3">Password</label>
            <div class="span9">
                <input type="password" class="span10" />
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8 remember">
            <input type="checkbox" id="rememberme" /> <label for="rememberme">Remember me</label>
        </div>
        <div class="span4">
            <input type="submit" value="Sign in" class="btn" />
        </div>
    </div>
</form>