/**
 * footer.scss
 * CSS Required for the footer part of the layout.
 *
 * @author The JSONS
 * @copyright 2012 
 */

 footer {
 
	ul.list-inline {
		margin: 0 auto;
		list-style: none;

		li {
			display: inline-block;
			margin-right: 5px;
			a {
				color: #3A6EA5;
			}
			&.separator {
				padding: 0;
				color: gray;
				position: relative;
				top: -1px;
				font-size: 7px;
				&::after {
					content: "\25A0"
				}
			}
		}
	}

 }