/**
 * footer.scss
 * CSS Required for the footer part of the layout.
 *
 * @author The JSONS
 * @copyright 2012 
 */
footer > div {
  padding-top: 10px; }
footer .separator {
  padding: 0;
  color: gray;
  position: relative;
  top: -1px;
  font-size: 7px; }
  footer .separator::after {
    content: "\25A0"; }
footer .copy {
  display: inline-block;
  margin-right: 10px; }
  footer .copy .separator {
    margin-left: 5px; }
footer ul.list-inline {
  margin: 0;
  list-style: none;
  display: inline-block; }
  footer ul.list-inline li {
    display: inline-block;
    margin-right: 5px; }
    footer ul.list-inline li a {
      color: #3A6EA5; }
footer .flag {
  width: 16px;
  height: 11px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-left: 2px;
  cursor: pointer; }
  footer .flag.enUS {
    background: url(../Images/flag-sprite.png) left; }
  footer .flag.esMX {
    background: url(../Images/flag-sprite.png) right; }
