/**
 * header.scss
 * CSS Required for the header part of the layout.
 *
 * @author The JSONS
 * @copyright 2012 
 */
header {
  /* @group TOPBAR */
  /* @endgroup */ }
  header .block-light {
    background-color: transparent;
    color: #636B7B;
    font-family: "Open Sans";
    font-weight: 200;
    height: 37px;
    padding: 8px 15px;
    float: left;
    min-width: 52px; }
  header a.block-text {
    color: #D0411B;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 15px;
    padding-right: 0px; }
    header a.block-text:hover {
      text-decoration: underline; }
  header .block-silver {
    background-color: #C3C3C9;
    color: #636B7B;
    font-family: "Open Sans";
    font-weight: 200;
    height: 37px;
    padding: 8px 15px;
    float: left;
    min-width: 52px; }
  header .block-dark {
    background-color: #636B7B;
    color: #D6D6D6;
    font-family: "Open Sans";
    font-weight: 200;
    height: 37px;
    padding: 8px 10px;
    float: left;
    min-width: 52px; }
  header .user-info {
    /* @group Blocks */
    /* @endgroup */ }
    header .user-info p {
      margin: 0; }
    header .user-info .user {
      float: left;
      margin-right: 10px; }
    header .user-info .user-name {
      margin: 5px 0 0; }
      header .user-info .user-name p {
        color: #999999;
        font-family: "Open Sans";
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        vertical-align: middle;
        height: 30px; }
        header .user-info .user-name p span {
          color: #D0411B;
          font-size: 13px;
          font-weight: bold; }
        header .user-info .user-name p.bottom {
          color: #999999; }
      header .user-info .user-name a.btn-sign-out {
        font-size: 11px; }
    header .user-info .day {
      text-align: center;
      text-transform: lowercase; }
      header .user-info .day > span:first-child {
        font-size: 28px; }
      header .user-info .day > span:first-child + span {
        line-height: 1px;
        position: relative;
        top: -13px;
        margin-left: -5px;
        display: inline-block; }
      header .user-info .day div {
        width: 75px; }
    header .user-info .time {
      font-size: 28px;
      line-height: 33px;
      text-align: center;
      margin: 0; }
      header .user-info .time .tick {
        width: 10px;
        display: inline-block; }
    header .user-info .login {
      text-align: center;
      min-width: 25px; }
      header .user-info .login span {
        background: url("../Images/icn-header-sheet.png") -21px;
        width: 20px;
        height: 22px;
        display: block;
        margin-top: 7px; }
      header .user-info .login:active {
        background: #C3C3C9; }
        header .user-info .login:active span {
          background: url("../Images/icn-header-sheet.png") 0px no-repeat; }
      header .user-info .login:hover span {
        background: url("../Images/icn-header-sheet.png") 0px no-repeat; }
  header .topbar {
    z-index: 3;
    color: #444;
    background: #efefef url("../Images/txr-bg-header.png") repeat-x top;
    height: 53px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8); }
    header .topbar .column:first-child {
      float: left; }
    header .topbar .column:last-child {
      float: right; }
    header .topbar .logo-sieena {
      float: left;
      font-family: 'Open Sans', sans-serif;
      display: inline !important;
      margin-top: 12px;
      padding: 0 !important;
      height: 35px;
      width: 120px;
      background: url("../Images/logo-myplace.png"); }
  header .dialog-profile label {
    font-weight: bold; }
  header .dialog-profile form {
    margin-bottom: 0; }
  header .dialog-profile .panel-notifications {
    color: #6A6A6A; }
    header .dialog-profile .panel-notifications .title {
      font-size: 14px;
      margin-bottom: 15px; }
      header .dialog-profile .panel-notifications .title .bold {
        color: #DB6427; }
    header .dialog-profile .panel-notifications .available {
      color: green; }
    header .dialog-profile .panel-notifications .table td:first-child {
      text-align: center; }

#dashboard {
  width: 100%;
  background: #73757d url(../Images/bg-dashboard.png) repeat-x; }
  #dashboard .panel-dashboard {
    height: 50px;
    padding: 10px; }
  #dashboard .action-button {
    margin-top: 10px; }
  #dashboard .panel-notifications {
    float: right;
    height: 51px;
    margin-bottom: 30px;
    overflow-x: hidden;
    overflow-y: hidden; }
    #dashboard .panel-notifications ul {
      list-style: none; }
      #dashboard .panel-notifications ul li {
        position: relative;
        width: 180px;
        text-align: left;
        float: right;
        background: #52545C;
        border: 1px outset #44454D;
        border-top: 0;
        border-left: 0;
        padding: 3px;
        color: white;
        font-weight: 300;
        font-size: 11px;
        margin-left: 10px; }
        #dashboard .panel-notifications ul li .user {
          padding: 8px;
          line-height: 13px; }
          #dashboard .panel-notifications ul li .user span {
            display: block; }
        #dashboard .panel-notifications ul li img {
          height: 40px;
          width: 40px;
          max-height: 40px;
          max-width: 40px;
          float: left;
          margin-right: 7px; }
        #dashboard .panel-notifications ul li.transitioning {
          position: absolute; }
        #dashboard .panel-notifications ul li.in img {
          border: 2px solid #669E00; }
        #dashboard .panel-notifications ul li.out img {
          border: 2px solid #932F00; }
