/**
 * header.scss
 * CSS Required for the header part of the layout.
 *
 * @author The JSONS
 * @copyright 2012 
 */

header {

	.block-light { 
		background-color: transparent; 
		color: #636B7B;
		font-family: "Open Sans";
		font-weight: 200;
		height:37px; 
		padding:8px 15px;
		float: left;
		min-width: 52px;
	}
	
	a.block-text { 
		color:#D0411B; 
		font-size: 12px;
		font-weight: 600;  
		text-decoration: none;
		padding: 15px;
		padding-right: 0px;

		&:hover {
			text-decoration: underline;
		}
	}

	.block-silver { 
		background-color:#C3C3C9; 
		color: #636B7B;
		font-family: "Open Sans";
		font-weight: 200;
		height:37px; 
		padding:8px 15px;
		float: left;
		min-width: 52px;
	}

	.block-dark { 
		background-color:#636B7B; 
		color:#D6D6D6; 
		font-family: "Open Sans";
		font-weight:200; 
		height:37px; 
		padding:8px 15px;
		float: left;
		min-width: 52px;
	}

	.user-info {

		p { 
			margin: 0;  
		}

		/* @group Blocks */
		.user {
			float: left;
		}

		.user-name {
			margin: 5px 0 0; 

			p {
				color: #999999;
				font-family: "Open Sans";
				font-size: 12px;
				line-height: 14px; 
				text-align:right;
				vertical-align: middle;
				height: 30px;
				span {
					color:#D0411B; 
					font-size: 13px;
					font-weight: bold;
				}

				&.bottom {
					color: #999999;
				}
			} 

			a.btn-sign-out {
				font-size:11px;
			}
		}

		.day { 
			text-align: center;
			text-transform: lowercase;

			& > span:first-child{
				font-size:28px;
			}

			& > span:first-child + span {
				line-height: 1px;
				position: relative;
				top: -13px;
				margin-left: -5px;
				display:inline-block;
			}
		}

		.time {  
			font-size: 28px;
			line-height: 33px;
			text-align: center;
			margin:0;

			.tick {
				width: 10px;
				display: inline-block;
			}
		} 

		.login {
			text-align: center; 
			min-width: 25px; 

			span { 
				background: url("../Images/icn-header-sheet.png") -21px;
				width: 20px;
				height: 22px;
				display: block;
				margin-top: 7px;
			}

			&:active {
				background: #C3C3C9;
				span {
					background: url("../Images/icn-header-sheet.png") 0px no-repeat;
				}
			}

			&:hover span {
				background: url("../Images/icn-header-sheet.png") 0px no-repeat;
			}
		}

		/* @endgroup */


		
	}
 

	/* @group TOPBAR */

	.topbar {
		z-index: 3; 
		color: #444;
		background: #efefef url("../Images/txr-bg-header.png") repeat-x top;
		height: 53px;
	
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.80);
		-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.80);
		-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.80);
	
																				.column { 
		
		&:first-child {
			float: left;
		}
		&:last-child {
			float: right;
		}
		&.notifications {
			font-family: 'Open Sans', sans-serif;
			float: left;
			padding: 12px;
			margin-left: 100px;
			&.error {
				color: red;
				font-weight: 500;
			}
		}
	}
	
	.logo-sieena {
		float: left;
		font-family: 'Open Sans', sans-serif;
		display: inline !important;
		margin-top: 12px;
		padding: 0 !important;
		height: 35px;
		width: 120px;
		background: url('../Images/logo-myplace.png'); 
	}
	
	}

	/* @endgroup */
}


#dashboard {
	width: 100%;
	background: #73757d url(../Images/bg-dashboard.png) repeat-x; }
	
	.panel-dashboard {
		height: 50px;
		padding: 10px;
	}

	.action-button {
		margin-top: 10px; 
	}

	.panel-notifications {
		float: right; 
		height: 51px;
		margin-bottom: 30px;
		overflow-x: hidden;
		overflow-y: hidden;

		ul {
			list-style: none; 
			li {
				position: relative;
				width: 180px;
				text-align: left;
				float: right;
				background: #52545C;
				border: 1px outset #44454D;
				border-top: 0;
				border-left: 0;
				padding: 3px;
				color: white;
				font-weight: 300;
				font-size: 11px;
				margin-left: 10px; 
		
				.user {
					padding: 8px;
					line-height: 13px;
					span {
						display: block; 
					}
				}
            
				img {
					height: 40px;
					width: 40px;
					max-height: 40px;
					max-width: 40px;
					float: left;
					margin-right: 7px; 
			
				}

				&.transitioning {
					position: absolute;
				}
        
				&.in img {
					border: 2px solid #669E00; 
				}
		
				&.out img {
				border: 2px solid #932F00; 
				}
		}
	}

}
    

		ul {
			list-style: none; 
			li {
				position: relative;
				width: 180px;
				text-align: left;
				float: right;
				background: #52545C;
				border: 1px outset #44454D;
				border-top: 0;
				border-left: 0;
				padding: 3px;
				color: white;
				font-weight: 300;
				font-size: 11px;
				margin-left: 10px; 
		
				.user {
					padding: 8px;
					line-height: 13px;
					span {
						display: block; 
					}
				}
            
				img {
					height: 40px;
					width: 40px;
					max-height: 40px;
					max-width: 40px;
					float: left;
					margin-right: 7px; 
			
				}

				&.transitioning {
					position: absolute;
				}
        
				&.in img {
					border: 2px solid #669E00; 
				}
		
				&.out img {
				border: 2px solid #932F00; 
				}
		}
	}

}
    