/**
 * main.scss
 * CSS Required for the main part of the layout.
 *
 * @author The JSONS
 * @copyright 2012 
 */

 $backgroundHeaderColorLight: #efefef;
 $ColorLightGray:#cccccc;

.row-fluid .span2 + .span2 { 
	margin-top:30px;
}

 body > div {
	h2{ font-size:14px;  line-height:20px; border-bottom:1px dotted $ColorLightGray; padding-bottom:10px;}
	
	input:focus, textarea:focus {
		border-color: rgba(82, 168, 236, 0.8);
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(82,168,236,0.6);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(82,168,236,0.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(82,168,236,0.6);

	}

	.form-login {
		margin-top: 40px;
		background: white; 
		border: 1px solid #eee; 
		padding: 10px 10px 0px; 
		box-shadow: #ccc 0 0 5px 0px; 
		border-radius: 3px;

		.fields {
			label {
				padding-top: 5px;
				text-align: left;
				color: #999;
			}

			input[type=password] {
				width: 89%;
			}
		}

		h4 {
			margin-bottom: 10px;
			padding-bottom: 5px;
			color: #333;
			border-bottom: 1px solid #efefef;	
		}

		.btn {
			float: right;
		}

		.remember label {
			display: inline-block;
			padding-top: 7px;
			font-size: 11px;
			color: silver;
		}
	}
 }

 .pariking-map{
	 width:auto;
	 height:732px;
	 background:url("../Images/bg-parking.png") no-repeat  center 0  transparent;
	 
 }
 .new-car
	{
		background:url("../Images/icn-new-car.png") no-repeat  center 0  transparent;
		width:49px; 
		height:81px;
		margin:20px auto ;
	}

.time-line{
	
}
.user{ 
		padding-left:35px;position:relative; margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid $ColorLightGray;
		h3 {font-size: 14px;line-height: 27px; margin:0 0 5px; line-height:14px;color:#333333;}
		img{position:absolute; left:0}
		p{
			margin: 0 0;  font-size:11px; line-height:12px; color:#666;
			span{color:#999; font-weight:bold; font-size:9px;}
			b{font-size:13px;}
		}
	}
.user:last-child{border-bottom: 0 none;margin-bottom:0px; padding-bottom:0px;}

.my-profile
{
	h2{ margin-bottom:15px;}
	h3{ margin-bottom:0px;}
	.btn-edit{ 
		background:url("../Images/icn-edit.png") no-repeat  center center  transparent; width:40px; height:14px; display:inline-block;margin:10px 0 0; border:1px solid $ColorLightGray; border-radius:2px; padding:2px;
		span{display:none}
	}
	p{margin:0 0; padding:0; line-height:11px;}
	div.car-description{margin:5px 0 5px; border:1px solid #666; background-color:#efefef; padding:3px 6px;}
	.icon-tel{border-top:1px #ccc dotted; padding-top:10px;}
	.icon-tel,.icon-cel,.icon-car {height:auto;background: url("../Images/icon-sheet.png") no-repeat scroll left -18px transparent;display: block;font-size: 9px;margin: 13px 0 0 ;padding-left:17px;width: auto;}
	.icon-cel{background-position:left 0px ;margin: 5px 0 15px; min-height:14px; line-height:14px;}
	.icon-car{background-position:left -50px ;margin:0;}
	strong {color: #333333;font-weight: bold;}
	img{border:1px solid #ddd}

}

.my-place{
	.row {
	margin:0;
		img{border:1px solid $ColorLightGray}
	}
	h4 {background-color: #EFEFEF;border-bottom: 1px solid $ColorLightGray;font-size: 12px;font-weight: bold;line-height: 11px;margin: 0 0 10px;padding: 5px;}
	.btn{width:100% }
}