/**
 * main.scss
 * CSS Required for the main part of the layout.
 *
 * @author The JSONS
 * @copyright 2012 
 */

 $backgroundHeaderColorLight: #efefef;
 $ColorLightGray:#cccccc;
 $carSeparation: 60px;
 $sectionALeft: -5px; 
 $sectionBLeft: 295px; 
 $sectionCLeft: 656px;

.row-fluid .span2 + .span2 { 
	margin-top:30px;
}

 body > div {

	h2{ font-size:14px;  line-height:20px; border-bottom:1px dotted $ColorLightGray; padding-bottom:10px;}
	
	input:focus, textarea:focus {
		border-color: rgba(82, 168, 236, 0.8);
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(82,168,236,0.6);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(82,168,236,0.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(82,168,236,0.6);

	}

	.container-loading {
		width: 200px;
		margin: 100px auto 50px;
		text-align: center;
		display: block;
		height: 70px;
		.image {
			width: 50px;
			margin: 0px auto;
		}
	}

	.form-login {
		opacity:0;
		width: 345px;
		margin: 120px auto 120px auto;
		background: white; 
		padding: 10px 20px 5px; 
		box-shadow: #999 0 0 5px 0px;
		-webkit-box-shadow: #999 0 0 5px 0px;
		-moz-box-shadow: #999 0 0 5px 0px;		 
		border-radius: 3px;

		.fields {
			label {
				padding-top: 5px;
				text-align: left;
				color: #626262;
			}

			input[type=password] {
				width: 84%;
			}
		}

		h4 {
			margin-bottom: 10px;
			padding-bottom: 5px;
			color: #333;
			border-bottom: 1px solid #efefef;	
		}

		.btn {
			float: right;
		}

		.remember label {
			display: inline-block;
			padding-top: 7px;
			font-size: 11px;
			color: silver;
			width: 100px;
		}
	}

	.container-parking {
		padding-right: 10px !important;

		.parking-map {
			background: url("/Content/Styles/Images/bg-horizontal.png") no-repeat scroll -2px -2px transparent;
			height:379px;
			width: auto;
			position:relative;

			.car {
				position:absolute; 
				left: $sectionALeft; 
				top:12px; 
				width:53px; 
				height:97px; 
				background: url("/Content/Styles/Images/car-sprite.png") no-repeat scroll 0 0 transparent; 

				&.available {
					opacity: 0.5;
					
					&:hover {
						cursor:pointer; 
						opacity:1;
					}
				}

				&.used {
					background-position:-53px 0; 
				}

				&.me {
					background-position:-106px 0; 
				}

				&.selected {
					opacity: 1;
					z-index: 1045;
					background-position:-106px 0; 					
				}

				&.down {
					-moz-transform:rotate(-180deg);
					-webkit-transform:rotate(-180deg);
					-o-transform:rotate(-180deg);
					-ms-transform:rotate(-180deg);
				}

				&.left {
					-moz-transform:rotate(-90deg);
					-webkit-transform:rotate(-90deg);
					-o-transform:rotate(-90deg);
					-ms-transform:rotate(-90deg); 
				}

				&.red {
					background-position:-159px 0; 
				}

			
				/*Section A*/
				&.a1{ }
				&.a2{left: $sectionALeft + $carSeparation;  }
				&.a3{left: $sectionALeft + ($carSeparation*2); }
				&.a4{left: $sectionALeft + ($carSeparation*3); }
				&.a5{left: $sectionALeft + ($carSeparation*4); }
				&.a6{left: 32px; top:106px;  }
				&.a7{left: 147px; top:106px;   }
				&.a8{left: 32px; top:175px;   }
				&.a9{left: 147px; top:175px;   }
				&.a10{left: $sectionALeft;   top:268px;}
				&.a11{left: $sectionALeft + ($carSeparation); top:268px;}
				&.a12{left: $sectionALeft + ($carSeparation*2); top:268px;}
				&.a13{left: $sectionALeft + ($carSeparation*3); top:268px;}
				&.a14{left: $sectionALeft + ($carSeparation*4); top:268px;}
				/*Section B*/
				&.b1{left: $sectionBLeft;  }
				&.b2{left: $sectionBLeft + ($carSeparation);   }
				&.b3{left: $sectionBLeft + ($carSeparation*2);  }
				&.b4{left: $sectionBLeft + ($carSeparation*3);  }
				&.b5{left: $sectionBLeft + ($carSeparation*4); }
				&.b6{left: $sectionBLeft; top: 268px;}
				&.b7{left: $sectionBLeft + ($carSeparation);   top: 268px;}
				&.b8{left: $sectionBLeft + ($carSeparation*2); top: 268px;}
				&.b9{left: $sectionBLeft + ($carSeparation*3); top: 268px;}
				&.b10{left: $sectionBLeft + ($carSeparation*4); top: 268px;}
				&.b11{left: $sectionBLeft + ($carSeparation*5); top: 268px;}
				/*Section C*/
				&.c1{left: $sectionCLeft + ($carSeparation*2);  }
				&.c2{left: $sectionCLeft + ($carSeparation*3);  }
				&.c3{left: $sectionCLeft + ($carSeparation*4);  }
				&.c4{left: 688px; top:100px;  }
				&.c5{left: $sectionCLeft; top:268px}
				&.c6{left: $sectionCLeft + ($carSeparation); top:268px}
				&.c7{left: $sectionCLeft + ($carSeparation*2);   top: 268px;}
				&.c8{left: $sectionCLeft + ($carSeparation*3);   top: 268px;}
				&.c9{left: $sectionCLeft + ($carSeparation*4);   top: 268px;}
			} 


		}

	}

	.modal{ 
		font-family: "Open sans";
	}

	.dialog-confirmation .modal-body p {
		color: #666666;
		font-family: "Open sans";
		font-size: 22px;
		font-weight: 400;
		line-height: 37px;
		margin: 0 0 9px;
		padding-right: 50px;

		strong {
			color: #5BB75B; 
			font-size: 40px;
			display: block;
		}

		
	}

	.dialog-select-user
	{
		.well {
			margin: 0; 
			border-radius: 0;
			padding: 10px;
		}

		input.search-query {
			transition-property: width;
			transition-property: opacity;
			transition-duration: 5s;
			transition-timing-function: ease-in-out;
			transition-delay: 0s;
			width: 505px;
			opacity: 0.5;
			border-radius: 5px;
		}

		input.search-query:focus {
			width:505px;
			opacity: 1;
		}

		.help-block {
			border-bottom: 1px solid #EFEFEF;
			font-size: 11px;
			padding: 0 10px 3px;
		}

		.label-info {
			background-color: #3A87AD;
			font-size: 10px;
			line-height: 11px;
			margin-right: 5px;
			text-transform: none;
		}

		.available-user {
			margin: 0;max-height: 293px;overflow-x: hidden;overflow-y: auto;width: auto;padding-bottom:10px;
			li{float: left; cursor:pointer; list-style-type: none; margin: 10px 10px 0; padding: 5px 5px 1px; width: 27%; border:1px solid transparent; min-height:31px; position:relative}
			img{position:absolute; width:28px; height:28px; border:1px solid #ccc; left:3px; top:3px;overflow:hidden;background-color: #FFFFFF;background-image: url("/content/styles/images/user-default.png");text-indent: -699px;}
			span {display: block;height: 19px;margin-left: 32px;margin-top: 3px;overflow: hidden;text-overflow: ellipsis;}
			li.selected {background-color: #5BB75B;border-color: #458E45;border-radius: 2px 2px 2px 2px;box-shadow: 0 1px 14px -8px #000000 inset;color: #FFFFFF;text-shadow: 1px 0px 2px #000000;}	
			li.selected img{border-color:#fff}
			
		}
		.modal-body{padding: 0;}
	
	}

	.dialog-warning{
	
		.span6 {
			margin-left: 0;
			margin-right: 30px;
			width: 41.72%;
		}
	}

	 
	.new-car
	{
		background:url("../Images/icn-new-car.png") no-repeat  center 0  transparent;
		width:49px; 
		height:81px;
		margin:20px auto ;
	}

	.time-line {
	
	}

	.user { 
			padding-left:35px;position:relative; margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid $ColorLightGray;
			h3 {font-size: 14px;line-height: 27px; margin:0 0 5px; line-height:14px;color:#333333;}
			img{position:absolute; left:0}
			p {
				margin: 0 0;  font-size:11px; line-height:12px; color:#666;
				span{color:#999; font-weight:bold; font-size:9px;}
				b{font-size:13px;}
			}
	}
	
	.user:last-child{border-bottom: 0 none;margin-bottom:0px; padding-bottom:0px;}

	.my-profile {
		h2{ margin-bottom:15px;}
		h3{ margin-bottom:0px;}
		.btn-edit{ 
			background:url("../Images/icn-edit.png") no-repeat  center center  transparent; width:40px; height:14px; display:inline-block;margin:10px 0 0; border:1px solid $ColorLightGray; border-radius:2px; padding:2px;
			span{display:none}
		}
		p{margin:0 0; padding:0; line-height:11px;}
		div.car-description{margin:5px 0 5px; border:1px solid #666; background-color:#efefef; padding:3px 6px;}
		.icon-tel{border-top:1px #ccc dotted; padding-top:10px;}
		.icon-tel,.icon-cel,.icon-car {height:auto;background: url("../Images/icon-sheet.png") no-repeat scroll left -18px transparent;display: block;font-size: 9px;margin: 13px 0 0 ;padding-left:17px;width: auto;}
		.icon-cel{background-position:left 0px ;margin: 5px 0 15px; min-height:14px; line-height:14px;}
		.icon-car{background-position:left -50px ;margin:0;}
		strong {color: #333333;font-weight: bold;}
		img{border:1px solid #ddd}

	}

	.my-place{
		.row {
		margin:0;
			img{border:1px solid $ColorLightGray}
		}
		h4 {background-color: #EFEFEF;border-bottom: 1px solid $ColorLightGray;font-size: 12px;font-weight: bold;line-height: 11px;margin: 0 0 10px;padding: 5px;}
		.btn{width:100% }
	}

	 .row-fluid .span6.container-parking {
		width: 503px;padding:0; border:1px solid #fff
	}

	
	.popup-container{
		p{margin-left:44px;}
		.img-user{border: 1px solid #CCCCCC;display: inline-bock;float: left;margin: 0 10px 40px 0;}
		.tel{
			span{font-weight:700}
			span.icon{background: url("../Images/icn-phone.png") no-repeat scroll 0 0 transparent;display: inline-block;height: 16px;position: relative;top: 2px;width: 16px;}
		}
		.place{
			margin-bottom:5px; border-bottom:1px solid #ddd; padding-bottom:5px;
			span{font-weight:700}
			.icon{}
		}
		.mail{
			span{font-weight:700}
			.icon{}
		}
	}


	.popup-userinfo {
		min-width: 330px;

		.panel-img {  
			img { 
				width: 100px;
			}
			margin-right: 10px;
		}
		
		.panel-info {  
			label {
				font-weight: bold;
				display: inline;
			}

			.panel-actions {
				margin-top: 10px;
			}
		}
	}
 }