<ul class="list-inline right">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <!-- 
    <li><a href="#">Apps</li> 
    <li><a href="#">Blog</a></li>
    <li><a href="#">Developers</a></li>
    -->
    <li><a href="/help">Help</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="/terms">Terms</a></li>
    <li class="separator"></li>
    <li><a href="/login">Login</a></li>
</ul>
<div class="left">
    myplace © 2012 a <a href="http://www.sieena.com">sieena</a> weekend project
</div>