<div class="topbar">

    <div class='layout-width'>
	    <div class="column">
		    <a class="logo-sieena"></a>
	    </div>
	
	
	    <div class="column notifications error">
	    </div>
        <div class="column user-info">
            <div class="span user-name"> 
                <p>
                    Hola <span>Omar Lara</span>
                </p>
                <p>
                    te estacionaste en el lugar <span>B3</span>
                </p>
                
            </div>
            <div class="span day"> 
                <span>1</span>
                <span>st</span>
                <div>
                    feb 2012
                </div>
            </div>
            <div class="span time"> 
                <span>8:23 AM</span>
            </div>
        </div>
	
    </div>

</div>
