@using i18n = Sieena.Parking.Common.Resources.UI;

<div class="topbar">

    <div class="layout-width row-fluid">

	    <div class="column">
		    <a class="logo-sieena" href="/"></a>
	    </div>
	
	    
        <div class="column user-info" >
            <div class="user">
                <a href="/login" class="block-light block-text" data-langkey="Header_Login">
                    Login
                </a>
            </div>

            <div class="block-dark day"> 
                <span class="js-day"></span>
                <span class="js-dayup"></span>
                <div class="js-monthyear"></div>
            </div>
            
            <div class="block-silver time"> 
                <span class="js-time"></span>
            </div>
        </div>
	
    </div>

</div>
