<div class="topbar">
	<div class="column">
		<h3 class="logo"><a href="/">estacionate</a> <span class="sieena">sieena</span></h3>
	</div>
	
	<div class="column">
		<ul class="menu">
			<!-- <li class="alert" style="display:none;">
				<div class="twipsy left"><div class="twipsy-arrow"></div> <div class="twipsy-inner">carros obstruyendote</div></div>
			    <%=image_tag "alert_ico.png" %>
			</li>
			<li class="checkout">
				<input type="button" class="btn small primary out" value="Hasta Luego!" />
				<input type="image" class="btn small primary switch" src="/images/switch_ico.png" />
			</li>-->
			<li class="user">
				<img src="http://gravatar.com/avatar/7a076e0256bf05a5063f2260813e3e7c.jpg?s=30" class="avatar" /> 
				<a href="#" class="menu">Daniel Ramirez</a>
			</li>
			<li class="search"><form><input type="text" placeholder="buscar…" class="large" /></form></li>
		</ul>
	</div>
	
	<div class="column notifications error">
	</div>
	
</div>
