
<div class="span3">
    <div class="container-whole my-place">
   <h2>Mi Lugar</h2>
   <p>
    <label>Estacionado en </label>
    <span>B3</span>
   </p>   
   <p>
    <label>Hora de llegada</label>
    <span>11:23 am</span>
   </p>
   <div class="row">
       <h4>Me estorban</h4>
       <p>
            <img src="/Content/Images/img-01.png" alt="Omar Lara" title="Omar Lara" />
            <img src="/Content/Images/img-01.png" alt="Omar Lara" title="Omar Lara" />
            <img src="/Content/Images/img-01.png" alt="Omar Lara" title="Omar Lara" />
            <img src="/Content/Images/img-01.png" alt="Omar Lara" title="Omar Lara" />
            <img src="/Content/Images/img-01.png" alt="Omar Lara" title="Omar Lara" />
            <img src="/Content/Images/img-01.png" alt="Omar Lara" title="Omar Lara" />
       </p>
   </div>
   <p>
        <button class="btn btn-danger">Salir</button>
   </p>
</div>

    <div class="container-whole my-profile " style="display:none">
    <h2>
       Perfil
    </h2>
    <div class="user">
        <img src="/Content/Images/img-01.png" />
        <h3>
            Omar Lara
        </h3>
        <p>
            <a href="#"><span>omar.lara@sieena.com</span> </a>            
        </p>
        <div class="car-description">
             <p class="icon-car">
                VW Passat 2004 <strong>Negro</strong>
            </p>
        </div>
        <p class="icon-tel">
           8192 2554 <strong>ext. 114</strong>
        </p>
        <p class="icon-cel">
           8192 2554
        </p>       
        <p class="right-alignment">
            <a href="#" class="btn"><span>Edit</span></a>
        </p>
    </div>
</div>

    <div class="container-whole time-line">
        <div class="user">
            <img src="/Content/Images/img-01.png" />
            <h3> Omar Lara</h3>
            <p>“Se ha estacionado en el lugar <strong>B3</strong>” a las <span>9:27 am</span></p>
        </div>
        <div class="user">
            <img src="/Content/Images/img-01.png" />
            <h3> Omar Lara</h3>
            <p>“Se ha estacionado en el lugar <strong>B3</strong>” a las <span>9:27 am</span></p>
        </div>
        <div class="user">
            <img src="/Content/Images/img-01.png" />
            <h3> Omar Lara</h3>
            <p>“Se ha estacionado en el lugar <strong>B3</strong>” a las <span>9:27 am</span></p>
        </div>
        <div class="user">
            <img src="/Content/Images/img-01.png" />
            <h3> Omar Lara</h3>
            <p>“Se ha estacionado en el lugar <strong>B3</strong>” a las <span>9:27 am</span></p>
        </div>
    </div>
</div>

<div class="container-whole span8 container-parking">
    <div class="pariking-map">
        <!-- Section A -->  
        <div class="car a1"></div>
        <div class="car a2"></div>
        <div class="car a3"></div>
        <div class="car a4"></div>
        <div class="car a5"></div>
        <div class="car a6"></div>
        <div class="car a7"></div>
        <div class="car a8"></div>
        <div class="car a9"></div>
        <!-- Section B -->
        <div class="car b1"></div>
        <div class="car b2"></div>
        <div class="car b3"></div>
        <div class="car b4"></div>
        <div class="car b5"></div>
        <div class="car b6"></div>
        <div class="car b7"></div>
        <div class="car b8"></div>
        <div class="car b9"></div>
        <div class="car b10"></div>
        <div class="car b11"></div>
        <!-- Section C -->
        <div class="car c1"></div>
        <div class="car c2"></div>
        <div class="car c3"></div>
        <div class="car c4"></div>
        <div class="car c5"></div>
        <div class="car c6"></div>
        <div class="car c7"></div>
        <div class="car c8"></div>
        <div class="car c9"></div>
        <div class="car c10"></div>
        <div class="car c11"></div>
        <div class="car c12"></div>
        <div class="car c13"></div>
        <div class="car c14"></div>
    </div>
</div>
<!-- 
<div class="container-whole assign-parking span2">
    <h2>
        Asignar Estacionamiento</h2>
    <div class="new-car">
    </div>
</div>
-->

