
<div class="container-whole span12 container-parking">
    <div class="parking-map">
        {{#each collection}}
            <div class="car available {{CssClass}} {{SpaceDirection}} js-space" data-spaceid="{{SpaceId}}"></div>
        {{/each}}  
    </div>
</div>
 
<div class="modal dialog-confirmation js-confirmation-dialog fade" style="display:none">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>{{i18n.Main_ConfirmCheckinTitle}}</h3>
    </div>
    <div class="modal-body">
        <p class="js-message">
            {{{i18n.Main_ConfirmCheckinMessage}}}
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-success">{{i18n.Buttons_Checkin}}</a> 
        <a href="#" class="btn btn-close">{{i18n.Buttons_Cancel}}</a>
    </div>
</div> 

<div class="modal dialog-confirmation dialog-select-user fade" >
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Select User</h3>
    </div>
    <form class="well form-search">
        <input type="text" class="input-medium search-query">
        <button type="submit" class="btn">Search</button>
    </form>
    <p class="help-block"><span class="label label-info">Help!</span>Here you can lorem ipsum lorum.</p>
    <div class="modal-body">
        
        <div class="js-message">
            <ul class="available-user">
                <li>
                    <div>
                        <img src="/Content/Images/img-01.png" />
                        <span>Omar Lara</span>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="/Content/Images/img-01.png" />
                        <span>Omar Lara</span>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="/Content/Images/img-01.png" />
                        <span>Omar Lara</span>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="/Content/Images/img-01.png" />
                        <span>Omar Lara</span>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="/Content/Images/img-01.png" />
                        <span>Omar Lara</span>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="/Content/Images/img-01.png" />
                        <span>Omar Lara</span>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="/Content/Images/img-01.png" />
                        <span>Omar Lara</span>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="/Content/Images/img-01.png" />
                        <span>Omar Lara</span>
                    </div>
                </li>
                <li class="selected">
                    <div>
                        <img src="/Content/Images/img-01.png" />
                        <span>Omar Lara</span>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="/Content/Images/img-01.png" />
                        <span>Omar Lara</span>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-success">{{i18n.Buttons_Checkin}}</a> 
        <a href="#" class="btn btn-close">{{i18n.Buttons_Cancel}}</a>
    </div>
</div> 



