
 <div class="modal dialog-message dialog-available fade">   
  <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>{{i18n.Notification_AlertTitle}}</h3>
    </div> 
    <div class="modal-body">
        <p>
            {{i18n.Notification_SpaceAvailable}}
            <br /> 
            <div class="clearfix"></div>
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-warning js-ok" data-dismiss="modal">OK</a> 
    </div>
</div> 




