
 <div class="modal dialog-message fade" style="display:none">   
  <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>{{i18n.Notification_WindowTitle}}</h3>
    </div> 
    <div class="modal-body">
        <p>
            {{i18n.Word_Hi}} <span>{{model.UserName}}</span>, <br /><br />
            <strong>{{model.LeavingUserName}}</strong> {{i18n.Notification_SomeoneLeaving}}<br />
            <h4 class="right">{{i18n.Word_Thanks}}</h4>
            <div class="clearfix"></div>
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-warning js-ok" data-dismiss="modal">OK</a> 
    </div>
</div> 




