

{{#if currentUser.IsAuthenticated}}
    <div class="row-fluid layout-width panel-dashboard">
        <div style="text-align: left; margin-left: 0px;" class="span3 action-button js-button">
            <div class="btn-group js-button-group" style="display: none;">
                    <a href="#" class="btn js-button-label"></a>
                    <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a>In 5 minutes</a></li>
                        <li><a>In 10 minutes</a></li>
                        <li><a>In 15 minutes</a></li>
                    </ul>
             </div>
        </div>

        <div style="text-align: right" class="span9 panel-notifications">
            
        </div>
    </div>      
{{/if}}
