{{#if model.IsAuthenticated}}

<div class="block-light user-name"> 
    <p>
        {{i18n.Header_WelcomeText}}, <span>{{model.FirstName}} {{model.LastName}}</span>
        <br />
        <a href="/logout" class="btn-sign-out js-profile">My Profile</a> 
        |        
        <a href="/logout" class="btn-sign-out js-logout">{{i18n.Header_Logout}}</a> 
    </p> 
</div>

<div class="modal dialog-message dialog-warning js-warning-dialog fade" style="display:none">   
  <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>My Profile</h3>
    </div> 
    <div class="modal-body">
        <div>
            <form class="well"> 
                <div>
                    <div class="span6">
                        <label>First Name</label>
                        <input type="text" class="span12" placeholder=""> 
                        <label>Cellphone</label>
                        <input type="text" class="span12" placeholder=""> 
                        <label>Email</label>
                    <input type="text" class="span12" placeholder="">          
                    </div>
                    <div class="span6">
                        <label>Last Name</label>
                        <input type="text" class="span12" placeholder="">     
                        <label>Arrived at</label>
                        <input type="text" class="span12" placeholder=""> 
                        <label>Profile Image</label>
                        <input type="file" id="fileInput" class="input-file span6"> 
                    </div>
                </div>
                <div class="clearfix"></div>                                             
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-success">Confirm</a> 
        <a href="#" class="btn btn-close">{{i18n.Buttons_Cancel}}</a>
    </div>
</div> 

{{else}}

<a href="/login" class="block-light block-text">
    Login
</a>

{{/if}}

