<div class="popup-userinfo">
    <div class="panel-img left">
        <img src="{{user.ProfilePictureUrl}}" alt="" />
    </div>
    <div class="panel-info left">
        <label>{{i18n.UserInfo_PhoneOffice}}:</label> {{user.PhoneOffice}}, 
        <span  class="ext"><label>{{i18n.UserInfo_PhoneOfficeExtension}}</label> {{user.PhoneOfficeExtension}}</span> <br />
        <label>{{i18n.UserInfo_PhoneCel}}:</label> {{user.PhoneCel}}  <br />
        <label>{{i18n.UserInfo_ContactEmail}}:</label> {{user.ContactEmail}} <br />
        <label>{{i18n.UserInfo_ArrivalTime}}:</label> {{shortDate checkin.StartTime}}
        <br />
        <div class="panel-actions">
            {{#if currentUser.IsAdmin}}
            <a class="btn js-checkout" data-checkinid="{{checkin.CheckInId}}">{{i18n.Buttons_Checkout}}</a> 
            {{/if}}
            <!-- <a class="btn js-sendMessage">{{i18n.Buttons_SendMessage}}</a> -->
        </div>
    </div>

    <div class="clearfix"></div>
</div>