<div class="popup-userinfo">
    <div class="panel-img left">
        <img src="{{user.ProfilePictureUrl}}" alt="" />
    </div>
    <div class="panel-info right">
        <label>Telefono:</label> {{user.PhoneOffice}}, <label>ext</label> {{user.PhoneOfficeExtension}} <br />
        <label>Celular:</label> {{user.PhoneCel}}  <br />
        <label>Correo:</label> {{user.ContactEmail}} <br />
        <label>Hora de llegada:</label> {{shortDate checkin.StartTime}}
    </div>

    <div class="clearfix"></div>
</div>