<div class="modal dialog-confirmation dialog-select-user fade" >
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Select User</h3>
    </div>
    <form class="well form-search">
        <input type="text" class="input-medium search-query">
        <button type="submit" class="btn">Search</button>
    </form>
    <p class="help-block"><span class="label label-info">Help!</span>Here you can lorem ipsum lorum.</p>
    <div class="modal-body">
        
        <div class="js-message">
            <ul class="available-user">
                <!-- TODO: Repeater user-->
                {{#each collection}}
                <li>
                    <div>                        
                        <img src="{{userProfilePicture UserId}}" alt="{{userFullName UserId}}" />
                        <span>{{userFullName UserId}}</span>
                    </div>
                </li> 
                {{/each}}                
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-success">{{i18n.Buttons_Checkin}}</a> 
        <a href="#" class="btn btn-close">{{i18n.Buttons_Cancel}}</a>
    </div>
</div>