<div class="container-whole span12">
    <h2>Terms</h2>

    <br />

    <p>
        The Sieena Privacy Policy describes how we treat your personal information when you use Sieena's products and services, including any information you provide when registering for Sieena.
    </p>

    <p>
        Clients of Sieena may be required to provide some personal information during the registration process, including contact information and a password, which protects your account from unauthorized access.
    </p>

    <p>
        In the event you need to provide financial information, such as your credit card information, we maintain that information in extremely secure conditions. Sieena will never share your personal or financial information without your prior consent. We hold your privacy in the strictest of confidences.
    </p>

    <p>
        When you access and use Sieena, our servers may record some information about how you use our service. This is in line with other online service providers, and includes information such as your account activity, account management, navigation, data that you display or click on and other log information such as browser type, IP-address, date and time of access, cookie ID and referral URL.
    </p>

</div>