<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nancyFx" type="Nancy.Hosting.Aspnet.NancyFxSection" />
  </configSections>
  
  <nancyFx>
    <bootstrapper assembly="Parking.UI" type="Parking.UI.Api.ApiBootstrapper, Parking.UI" />
  </nancyFx>
  
  <system.web>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="/Api/*" />
    </httpHandlers>
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  
</configuration>
