@{
    ViewBag.Title = "Principal";
}

<div class="row">
    <div class="container-whole span3">
    News ticker
    </div>
    <div class="container-whole span12">
    Map container
    </div>
</div>