@{
    ViewBag.Title = "Principal";
}

<div class="row-fluid">
    <div class="container-whole span3">
    News ticker
    </div>
    <div class="container-whole span8">
    Map container
    </div>
</div>