<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Crypto.Secret" value="Dcxt5xfJ+xSN7TsP1oSO8v3gWFY=" />
    <add key="PUBNUB.PublishKey" value="6a5e7020-9e27-4132-9959-7782d22abf32" />
    <add key="PUBNUB.SubscribeKey" value="57a3f4f8-a414-11df-951b-b707021b1c1f" />
    <add key="PUBNUB.SecretKey" value="2bd52270-1d10-50a0-952f-73fdcddf34cc" />
    <add key="MailGun.Domain" value="myplace.mailgun.org" />
    <add key="MailGun.APIKey" value="key-1jvstc7s3nq58899zkebvu42yse9u6s0" />
    <add key="MailGun.FromEmail" value="no-reply@myplace.mailgun.org" />
    <add key="Tropo.APIKey" value="0e098127c8bbff4f94763796f933f4ff252a36ef3cb41b0f011bc911f6ee26e1155bf7946b1fd3d1addc316f" />
  </appSettings>
</configuration>