<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PUBNUB.PublishKey" value="6a5e7020-9e27-4132-9959-7782d22abf32" />
    <add key="PUBNUB.SubscribeKey" value="57a3f4f8-a414-11df-951b-b707021b1c1f" />
    <add key="PUBNUB.SecretKey" value="2bd52270-1d10-50a0-952f-73fdcddf34cc" />
  </appSettings>

  <connectionStrings>
    <add name="Sieena.Parking.API.Properties.Settings.DataSourceConnectionString"
      connectionString="Data Source=b26576c2-587f-42e2-84fa-9fe50000baae.sqlserver.sequelizer.com;Persist Security Info=True;User ID=qqnfafsndywwohmm;Password=UfA723bXeqrcwbX3yAGxdGvNFmbK6HwmeTmmkrHTMQiR4Pifh8CgSfzmRVyNZx2D"
      providerName="System.Data.SqlClient" />
    <add name="EntityContext" connectionString="metadata=res://*/EntityContext.csdl|res://*/EntityContext.ssdl|res://*/EntityContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=b26576c2-587f-42e2-84fa-9fe50000baae.sqlserver.sequelizer.com;persist security info=True;user id=qqnfafsndywwohmm;password=UfA723bXeqrcwbX3yAGxdGvNFmbK6HwmeTmmkrHTMQiR4Pifh8CgSfzmRVyNZx2D;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Sieena.Parking.API.Models.Properties.Settings.EntityContext"
      connectionString="metadata=res://*/EntityContext.csdl|res://*/EntityContext.ssdl|res://*/EntityContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=b26576c2-587f-42e2-84fa-9fe50000baae.sqlserver.sequelizer.com;persist security info=True;user id=qqnfafsndywwohmm;password=UfA723bXeqrcwbX3yAGxdGvNFmbK6HwmeTmmkrHTMQiR4Pifh8CgSfzmRVyNZx2D;multipleactiveresultsets=True;App=EntityFramework&quot;" />
  </connectionStrings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>