<div class="span3">&nbsp;</div>
 
<form action="/login" method="post" enctype="application/x-www-form-urlencoded" class="span4 form-vertical form-login">
    <h4>{{i18n.Login_Title}}</h4>

    <div class="alert alert-error" style="display:none"><a class="close" onclick="$(this).parent().fadeOut();">×</a><span class="message"></span></div>

    <div class="fields">
        <div class="row-fluid">
            <label class="span3">{{i18n.Login_Username}}</label>
            <div class="span9 input-append">
                <input type="text" class="span6" name="UserName" />
                <span class="add-on">@sieena.com</span>
                <input type="hidden" name="Domain" value="@sieena.com" />
            </div>
        </div>
        <div class="row-fluid"> 
            <label class="span3">{{i18n.Login_Password}}</label>
            <div class="span9">
                <input type="password" name="Password" class="span10" />
            </div>
        </div> 
    </div>
    <div class="row-fluid">
        <div class="span8 remember">
            <label class="checkbox"><input name="RememberMe" type="checkbox" id="rememberme" /> {{i18n.Login_RememberMe}}</label>
        </div>
        <div class="span4">
            <input type="submit" value="{{i18n.Login_Submit}}" class="btn js-submit" data-click="{{i18n.Login_Submit}}" data-afterclick="{{i18n.Login_AfterSubmit}}" />
        </div>
    </div>
</form>