<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <combres definitionUrl="~/App_Data/combres.Release.xml" logProvider="Combres.Loggers.Log4NetLogger"  xdt:Transform="Replace" xdt:Locator="XPath(//combres)" />
</configuration>